@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap');
$success : #CCFAE9;
$boldSuccess : #00563E;
$danger : #FFDAD9;
$boldDanger : #981F41;
$yellow : #FFF3C7;
$boldYellow : #926B0F;
$pink : #F7E5F0;
$boldPink : #B42877;
$lilac : #F3EBFF;
$boldLilac : #563AAD;
$indigo : #DDE0FF;
$boldIndigo : #3948CB;
$turquoise : #C5F0F5;
$boldTurquoise : #00788B;
$gray : #F5F5F5;
$boldGray : #212121;
$white : #FFFFFF;
$boldWhite:#FAFAFA;
$black : #000000;



// font 
$golos: 'Golos Text', sans-serif